.loadButton
  display: flex
  margin: 20px auto
  border: solid grey 1px
  border-radius: 5px
  width: 200px
  height: 40px
  padding: 7px 60px
  background-color: #F3F2F1
  transition: opacity .2s
  &:hover
    opacity: 0.85
