.card
  width: 180px
  // height: 300px
  // border: solid 1px black
  background-color: #F3F2F1

.card-cover
  margin: 20px auto 10px auto
  background: url('../../images/book.jpg') no-repeat center / cover
  width: 90px
  height: 150px

.card-info
  margin: 10px

.card-categories
  font-size: 12px
  color: gray
  text-decoration: underline

.card-title
  font-weight: bold
  font-size: 14px
  padding: 5px 0

.card-author
  font-size: 12px
  color: gray
