.book
  margin: auto
  max-width: 1200px
  display: flex

.book-cover
  background-color: #F3F2F1
  width: 45%

.book-discription
  height: 100px
  width: 55%
  height: 460px

.book-container
  padding: 40px

.book-image
  margin: 40px auto 40px auto
  background: url('../../images/book.jpg') no-repeat center / cover
  width: 260px
  height: 380px

.book-categories
  color: gray 
  font-size: 18px

.book-title
  font-size: 22px
  font-weight: 500
  margin: 20px 0

.book-author
  color: gray
  text-decoration: underline

.book-annotation
  margin-top: 20px